<div class="container">
    <a onClick="window.location.reload()">
        <button type="button" class= block>
                Refresh
        </button>
    </a>


    <h1 class="title">
        Here Below are some Dogs you may be Interesed in.
    </h1>

    <img src="{{ dogImage }}" class="doggy" alt="HTML Dog">

    <div class="newspaper">
       Here, we provide images and links to pictures of dogs. At the top of the website, they will give you the URL which you can use for your own personal beneifts and you're able to retrieve the image back. We have an auto-genertaed system which will produce new pictures once you refresh the page. Each image is carefully generated and images that are not dogs are not shown. We keep this website child-friendly so both you and your child can both browse through them.  
    </div>
    
</div>
<img src="../../assets/dog_pic.jpg" alt="Types of Dogs" class="breeds">











