<div class="container">

    <h1 class="title">Here below are some dogs you may be interesed in.</h1>

    <img src="{{ dogImage }}" class="doggy" alt="HTML Dog">

    <div class="newspaper">
       Here, we provide images and links to pictures of dogs. At the top of the website, they will give you the URL which you can use for your own personal beneifts and you're able to retrieve the image back. We have an auto-genertaed system which will produce new pictures once you refresh the page. This website is for people who are too lazy to search up pictures and don't want to flick through them.  
    </div>
    
</div>









